#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}